header {
  background-color: blueviolet;
  color: azure;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 15px;
}

h1 {
  display: block;
  padding: 25px;
}
li a {
  font-weight: 100;
  text-decoration: none;
  color: azure;
}
ul li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}

main {
  display: grid;
  grid-template-rows: 60% 40%;
}
img{
  max-width: 500px;
  height: auto;
}
article p {
  grid-column: 1/60%;
}

article figure img {
  grid-column-start: 60%
}